@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*------- header ---------*/
.logo {
  width: 210px;
  margin-top: 14px;
}
/*------- 네비게이션 메뉴 장식 ---------*/
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}
/*------- 로고와 네비게이션 메뉴를 가로로 정렬 ---------*/
.page-header {
  display: flex;
  justify-content: space-between;
}
/*------- 콘텐츠의 최대 출력 너비 설정 ---------*/
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
/*------- home ---------*/
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
/*------- 제목 ---------*/
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}
/*------- 버튼 ---------*/
.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}
/*------- 큰 배경 이미 ---------*/
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/mb.jpg);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}
/*------- notification ---------*/
#noti {
  background-color: #FFB6C1;
  height: 270px;
  margin-bottom: 40px;
}
#noti .page-title {
  text-align: center;
}
/*------- footer ---------*/
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/*------- 기사 부분---------*/
article {
  width: 74%;
}

aside {
  width: 22%;
}
.noti-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}

.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255,255,255,.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  font-family: "나눔명조", nanummyeongjo, serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title, .post-cat {
  margin-left: 120px;
}
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}
aside p {
  padding: 12px 10px;
}
.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li {
  border-bottom: 1px #ddd solid;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #0bd;
}
/*------- 수업일정 ---------*/

/*------- 커리큘럼---------*/
#curri {
  background-color: #76cab5;
  height: 270px;
  margin-bottom: 40px;
}
#curri .page-title {
  text-align: center;
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
.item-title {
  font-size: 2rem;
  font-weight: bold;
  color: #009bc6;
  border-radius: 5px;
  padding: 18px 32px;
}
.item-description {
  font-size: 1.375rem;
  font-weight: bold;
  color: #009bc6;
  border-radius: 5px;
  padding: 18px 32px;
}
.grid p {
  font-size: 1.25rem;
  background: #f6f0cc;
  color: #000;
  border-radius: 5px;
  padding: 18px 32px;
  margin-bottom: 0;
}
.grid img {
  width: 225px;
  height: 190px;
}


/*------- class 수업안내 ---------*/
#class {
  background-color: #a0d081;
  /* background-color: #d2d200; */
  height: 270px;
  margin-bottom: 40px;
}
#class .page-title {
  text-align: center;
}
.class-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.post-contents {
  border-bottom: 1px #ddd solid;
  padding-left: 40px;
  margin-bottom: 20px;
}
.bullet {
  width: 90px;
  height: 90px;
  top: 0px;
}
.class-title {
  margin-left: 100px;
  padding-top: 15px;
}
.post-contents ul {
  line-height: 2rem;
  padding-left: 10px;
  padding-bottom: 20px;
}
/*------- class 수업안내(작품사진) ---------*/
.works img {
  width: 270px;
  height: 220px;
}

/*------- 모바일 버전---------*/
@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }
  /* header */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  /* HOME */
  .home-content {
    margin-top: 20%;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  /* notification */
  .noti-contents {
    flex-direction: column;
  }

  article,
  aside {
    width: 100%;
  }

  #noti .page-title {
    margin-top: 30px;
  }
  aside {
    margin-top: 60px;
  }
  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }
  .post-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }
  /* curri */
  #curri .page-title {
    margin-top: 30px;
  }
  .grid img {
    width: 175px;
    height: 140px;
  }
  /* class */
  .class-contents {
    flex-direction: column;
  }
  #class .page-title {
    margin-top: 30px;
  }
}

